---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";
import Video from "../components/Video.astro";
import Socials from "../components/Socials.astro";
import WhatIs from "../components/WhatIs.astro";
import JoinUs from "../components/JoinUs.astro";
---

<Layout title="Manchester Crows">
    <main>
        <Video />
        <Welcome />
        <Socials />
        <div class="flex items-center flex-col">
            <WhatIs />
            <JoinUs />
        </div>
    </main>
</Layout>
