---

---

<header class="flex items-center justify-between px-6 py-4 bg-[#52102d]">
    <div class="flex items-center space-x-4">
        <img
            src="/crowshead.png"
            height="40"
            width="40"
            alt="Logo"
            style="aspect-ratio: 40 / 40; object-fit: contain;"
        />
        <nav>
            
        </nav>
        
    </div>
    <a href="#join-us" class="text-crows-red bg-white px-4 py-2 rounded-md">Join Us</a>
</header>
