---

---

<header class="flex items-center justify-between px-6 py-4 bg-[#52102d]">
    <div class="flex items-center space-x-4">
        <img
            src="/crowshead.png"
            height="40"
            width="40"
            alt="Logo"
            style="aspect-ratio: 40 / 40; object-fit: contain;"
        />
        <nav>
            <ul class="flex space-x-4 font-geist">
                <li>
                    <a class="text-white hover:text-gray-200" href="#">
                        Fixtures</a
                    >
                </li>
                <li>
                    <a class="text-white hover:text-gray-200" href="#">
                        Socials</a
                    >
                </li>
                <li>
                    <a class="text-white hover:text-gray-200" href="#">
                        What Is Flag Football?</a
                    >
                </li>
                <li>
                    <a class="text-white hover:text-gray-200" href="#">
                        Get In Touch</a
                    >
                </li>
            </ul>
        </nav>
    </div>
    <button
        class="inline-flex font-bold items-center justify-center hover:bg-gray-300 rounded-md text-sm ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-4 py-2 bg-white text-[#52102d]"
        >Join Us</button
    >
</header>
