<div class="relative flex justify-center">
    <h1 class="bg-gray-50 px-3 text-3xl font-medium text-gray-600">
        Become a Manchester Crow
        <span class="font-sans font-extrabold text-headerpunctuation"></span>
    </h1>
</div>
