---
import SectionTitle from "./SectionTitle.astro"
import Card from "./Card.astro"
---

<Card>
    <SectionTitle title="Socials" />
    <div id="curator-feed-default-feed-layout">
    
    <a href="https://curator.io" target="_blank" class="crt-logo crt-tag"
        >Powered by Curator.io</a>
</div>
</Card>