<div
    class="relative flex items-center justify-center mb-12 overflow-hidden h-[80vh] md:h-192">
    <div class="relative flex flex-col w-2/3 z-30 opacity-90">
        <img
            src="/crowshead.png"
            class="w-4/5 md:w-1/5 m-auto"
            alt="Manchester Crows Team"
        /><h1
            class="text-5xl md:text-8xl text-center text-white m-auto justify-center">
            Manchester Crows
        </h1><h1
            class="text-3xl md:text-5xl text-center text-crows-red m-auto justify-center">
            Flag Football
        </h1>
    </div>
    <video
        autoplay
        loop
        muted
        playsinline
        class="absolute z-10 w-auto min-w-full min-h-full max-w-none">
        <source src="/HeaderVideo.webm" type="video/webm" />
    </video>
</div>
