---
import SectionTitle from "./SectionTitle.astro";
import Card from "./Card.astro";
---

<Card>
              <div class="flex flex-col justify-center space-y-4">
                <SectionTitle title="Welcome to the Manchester Crows" />
                  <p class="max-w-[600px] text-pretty px-4">
                        Here you'll find information about the Manchester Crows,
                        however we're mostly active on our socials. Check out
                        our Linktree below to find us on all our platforms.
                    </p><a
                        href="https://linktr.ee/manchestercrows"
                        class="text-crows-red hover:text-crows-red-hover px-4"
                        >Visit our <span class="font-bold">Linktree</span> for more
                        information →</a
                    >
                <img
                    alt="Team Logo"
                    class="w-full"
                    src="/teamphoto.png"
                />
            </div>
    
</Card>
