<section class="w-full py-12 text-[#52102d]">
    <div class="container px-4 md:px-6">
        <div
            class="grid gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px]">
            <img
                alt="Team Logo"
                class="mx-auto overflow-hidden rounded-xl object-bottom sm:w-full lg:order-last"
                height="550"
                src="/teamphoto.png"
            /><div class="flex flex-col justify-center space-y-4">
                <div class="space-y-2">
                    <h1
                        class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">
                        Welcome to Our Amateur Sports Team Website
                    </h1><p class="max-w-[600px] dark:text-zinc-400">
                        Join us and be part of our amazing community. Stay
                        updated with our latest matches, events, and news.
                    </p>
                </div><div class="flex flex-col gap-2 min-[400px]:flex-row">
                    <a
                        class="inline-flex h-10 items-center justify-center rounded-md bg-[#52102d] px-8 text-sm font-medium text-white shadow transition-colors hover:bg-[#52102d]/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-zinc-950 disabled:pointer-events-none disabled:opacity-50 dark:bg-zinc-50 dark:text-zinc-900 dark:hover:bg-zinc-50/90 dark:focus-visible:ring-zinc-300"
                        href="#">
                        Join Us
                    </a><a
                        class="inline-flex h-10 items-center justify-center rounded-md border border-zinc-200 bg-white px-8 text-sm font-medium text-[#52102d] shadow-sm transition-colors hover:bg-zinc-100 hover:text-[#52102d] focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-zinc-950 disabled:pointer-events-none disabled:opacity-50 dark:border-zinc-800 dark:bg-zinc-950 dark:hover:bg-zinc-800 dark:hover:text-zinc-50 dark:focus-visible:ring-zinc-300"
                        href="#"></a>
                </div>
            </div>
        </div>
    </div>
</section>
