---
import Card from "./Card.astro";
---

<Card>
    <div class="flex flex-col gap-6 text-gray-800">
        <p>
            Flag Football is an exciting and fast-paced version of American
            Football that's rapidly gaining popularity across the UK. It's a
            non-contact sport where tackles are made by pulling a flag from a
            player's hips, which welcomes athletes of all abilities, genders,
            and levels of experience.
        </p>
        <div class="">
            <p>
                The Manchester Crows are one of the most well-known and
                respected flag teams in the country. Founded in 2015, we play in
                the Northern Premiership and have qualified for the National
                Playoffs every season since our second year.
            </p>
            <iframe
                class=""
                width="560"
                height="315"
                src="https://www.youtube-nocookie.com/embed/TC5Wz_PXS1E?si=czNvW82NNdH_BaDc"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <p>
                The sport is governed in the UK by the British American Football
                Association (BAFA), and works in conjunction with the National
                Football League UK Flag Football (NFL UK) and the International
                Federation of American Football (IFAF).
            </p>
        </div>
    </div>
</Card>
