---
import { SEO } from "astro-seo";
import Navbar from "../components/Navbar.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preload" href="/font/JerseyM54.woff" as="font" type="font/woff" crossorigin="anonymous" />
        <meta name="generator" content={Astro.generator} />

        <SEO
            title={title}
            description="Manchester Crows - American Flag Football Team based in Manchester, UK."
            openGraph={{
                basic: {
                    title: "Manchester Crows Flag Football Team",
                    type: "website",
                    image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
                    url: "https://crowsfootball.com",
                },
                optional: {
                    locale: "en_GB",
                },
            }}
            twitter={{
                creator: "@ManchesterCrows",
            }}
            extend={{
                // extending the default link tags
                link: [{ rel: "icon", href: "/favicon.ico" }],
            }}
        />
        <script type="text/javascript">
            /* curator-feed-default-feed-layout */
            (function () {
                var i,
                    e,
                    d = document,
                    s = "script";
                i = d.createElement("script");
                i.async = 1;
                i.charset = "UTF-8";
                i.src =
                    "https://cdn.curator.io/published/2e90c6c3-b736-453d-be91-803ea12d1cf0.js";
                e = d.getElementsByTagName(s)[0];
                e.parentNode.insertBefore(i, e);
            })();
        </script>
        <style is:global>
            html {
                font-family: "Geist", sans-serif;
            }
            @font-face {
                font-family: "Geist";
                src: url("/font/Geist-Regular.otf") format("otf");
                font-weight: normal;
                font-style: normal;
                font-display: swap;
            }
            @font-face {
                font-family: "Geist Bold";
                src: url("/font/Geist-Bold.otf") format("otf");
                font-weight: normal;
                font-style: normal;
                font-display: swap;
            }
            @font-face {
                font-family: "Jersey M54";
                src: url("/font/JerseyM54.woff") format("woff");
                font-weight: 400;
                font-style: normal;
                font-display: swap;
            }
        </style>
    </head>
    <body>
        <Navbar />
        <slot />
    </body>
</html>
